.line{
    height: 10px;
    width: 200px;
    background-color: orange;
    margin: 8px auto;
}

body{
    text-align: center;
    background-color: cornsilk;
    font-family: 'Pushster', cursive;
}

img{
    width:400px;
    height: 500px;
}

#BallGame{
    margin-left: 10px;
}